<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="hourDiff" value="-6"/>
	  <!--<add key="minDiff" value="-30"/>-->
      <!--<add key="diff" value="-2"/>-->
      <add key="product" value="54, 55"/>
      <add key="status" value="4, 5, 11"/>
      <add key="ext" value="gpg"/>
      <add key="ErrorLogPath" value="C:\\AppLogs\\Securecode\\"/>
      <add key="GenPath" value="C:\\AppLogs\\Securecode\\Generated"/>
      <add key="UploadPath" value="C:\\AppLogs\\Securecode\\Uploads"/>
      <add key="cmdPath" value="C:\\Windows\\System32\\"/>
      <add key="gpgPath" value="C:\\Program Files\\WinGPG\\x86"/>
      <add key="CardApp" value="Data Source=172.25.31.201,1490;Initial Catalog=EchanelsT24;Persist Security Info=false;User ID=echanelusr;Password=($98uyt1#@)"/>
      <!--<add key="FEPConn" value ="data source=172.25.31.4;Database=realtime;User ID=transuser;Password=Tr@nsusr1;Trusted_Connection=False;"/>-->
      <add key="FEPConn" value="Data Source=172.25.31.4;Initial Catalog=postcard;Persist Security Info=false;User ID=cardappuser;Password=($t*rl1ng)"/>
      <add key="Product_Name" value="VOGUE_PHY_MASTERCARD|VOGUE_MASTERCARD"/>
      
      <!--<add key="GoMoney_Base_Url" value="https://api.gomoney.global/"/>-->
      <!--<add key="GoMoney_Base_Url" value="http://192.168.3.40/GoMoneyProxy/"/>-->
	    <!--<add key="GoMoney_Base_Url" value="http://10.0.0.91/GoMoneyProxy/"/>
      <add key="Endpoint" value="api/GetGoMoneyAcctDetails?input="/>-->
      <add key="Vogue_Base_Url" value="http://10.0.0.91/VogueProxy/"/>
      <add key="Endpoint" value="api/GetVoguePayAcctDetails?input="/>
	    <!--<add key="GoMoney_SecretKey" value="R09NT05FWTllOWJhNjNmLTkwNGMtNDhkYS1hN2M1LWMyODFhMjk4ZjUwZjEwMDczODEwODQwMjc5OTQ2OTc0MTgzOTk2MTk2MDg4IA=="/>-->
      <!--<add key="GoMoney_SecretKey" value="R09NT05FWWZkMDkzZjZjLTk2MzctNGJlZi1iYzA5LWEzNzAyYmIwZTdmMjEwMDMxODI5MjQ1OTU3ODE2MDU5MjI1MTkwMDE4MTQxIA=="/> -->     
	    <!--<add key="GoMoney_Id" value="GOME7CCD8D"/>-->
      <!--<add key="GoMoney_Id" value="GOM6FA68B8"/>-->
      
      
      <!--<add key="keyId" value="729D33DB27ED9CAF"/>
      <add key="sftpHost" value="10.0.35.31"/>-->
      <add key="keyId" value="38F741B32D5AE7EE"/>
      <add key="sftpHost" value="172.25.30.9"/>
      <add key="sftpPort" value="22"/>
      <add key ="sftpUser" value="csu.sterling"/>
      <add key="sftpPwd" value="g4WVVjD7"/>
      <add key="sftpPth" value="/VCAS Securecode/"/>
      <add key="fMail" value="SecureCodeUploader@Sterling.ng"/>
      <add key ="mailHost" value ="172.18.2.11"/>
      <add key ="recMail" value ="rasaq.olaniran@Sterling.ng"/>
      <add key ="cMail" value ="Cardservices@Sterling.ng"/>
    </appSettings>
  
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>